
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --primary-color: #fe3f40;
    --secondary-color: #03a4ed;
    --black: #333;
}

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background-color: #eee;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/******* HEADER SECTION **********/

.header-section {
    position: relative;
    top: -100px;
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 80px;
    height: 100px;
    transition: top 0.8s ease;
}
.header-section.visible {
    top: 0;
}
.header-section navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section navbar .logo {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: var(--secondary-color);
}
.header-section navbar .logo span {
    color: var(--primary-color);
}
.header-section navbar .navbar-items {
    list-style: none;
    display: flex;
    align-items: center;
}
.header-section navbar .navbar-items .navbar-item  {
    margin-left: 25px;
    transition: all 0.3s ease;
}
.header-section navbar .navbar-items .navbar-item  a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}
.header-section navbar .navbar-items .navbar-item.active a,
.header-section navbar .navbar-items .navbar-item:hover a {
    color: var(--primary-color);
}

.header-section navbar .navbar-items .navbar-item button {
    border: none;
    border-radius: 25px;
    background-color: var(--primary-color);
    padding: 12px 29px;
    cursor: pointer;
}
.header-section navbar .navbar-items .navbar-item button:hover {
    background-color: var(--secondary-color);
}
.header-section navbar .navbar-items .navbar-item button:hover a {
    color: #fff;
}
.header-section navbar .navbar-items .navbar-item button a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;
}

/******* HERO SECTION **********/
.hero-section {
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #fff;
    position: relative;
    opacity: 0;
    transition: all 0.6s ease;
}
.hero-section.visible {
    opacity: 1;
}
.hero-section::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(images/baner-dec-left.png);
    background-repeat: no-repeat;
    width: 193px;
    height: 467px;
}
.hero-section::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(images/baner-dec-right.png);
    background-repeat: no-repeat;
    width: 98px;
    height: 289px;
}
.hero-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section .hero-content {
    transform: translateX(-1000px);
    transition: all 0.8s ease;

}
.hero-section .hero-content.visible {
    transform: translateX(0);
}
.hero-section .hero-content h6 {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.hero-section .hero-content {
    margin-right: 40px;
    width: 47%;
}
.hero-section .hero-content h1 {
    font-size: 46px;
}
.hero-section .hero-content h1 span {
    color: var(--secondary-color);
}
.hero-section .hero-content h1 em {
    color: var(--primary-color);
    font-style: normal;
}
.hero-section .hero-content p {
    font-size: 14px;
    color: #151313b0;
    margin: 20px 0;
}
.hero-section .hero-content form {
    width: 480px;
    height: 70px;
    position: relative;
}
.hero-section .hero-content form input {
    font-size: 15px;
    width: 480px;
    padding-left: 25px;
    height: 66px;
    border: none;
    outline: none;
    background: var(--secondary-color);
    border-radius: 35px;
    color: #fff;
}
.hero-section .hero-content form input::placeholder {
    color: #fff;
}
.hero-section .hero-content form button {
    background: #fff;
    color: var(--primary-color);
    border: none;
    padding: 14px 24px;
    border-radius: 29px;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.hero-section .hero-image {
    transform: translateX(1000px);
    transition: all 0.8s ease;
}
.hero-section .hero-image.visible {
    transform: translateX(0);
}
/******* SERVICES SECTION **********/
.services-section {
    padding: 195px 0px 200px 0px;
    background-color: #fff;
    background-image: url(images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.services-section .container {
    display: flex;
}
.services-section .services-image {
    width: 33.3333333%;
}
.services-section .services-items {
    display: flex;
    flex-wrap: wrap;
    width: 66.6666667%;
}
.services-section .services-items .service-item {
    width: 50%;
}
.services-section .services-items .service-item img {
    float: left;
    margin-right: 15px;
}
.services-section .services-items .service-item-text {
    color: #fff;
}

/***** ABOUT SECTION ********/
.aboutus-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;
}
.aboutus-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.aboutus-section .aboutus-image {
    width: 50%;
}

.aboutus-section .aboutus-content h2 {
    font-size: 30px;
    color: var(--black);
    text-transform: capitalize;
}
.aboutus-section .aboutus-content h2 em {
    color: var(--secondary-color);
    font-style:  normal;
}
.aboutus-section .aboutus-content h2 span {
    color: var(--primary-color);
}
.aboutus-section .aboutus-content p {
    font-size: 15px;
    color: #333333d6;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 30px;
}
.aboutus-section .aboutus-content .aboutus-statistics-item {
    position: relative;
    margin-bottom: 25px;
}
.aboutus-section .aboutus-content .aboutus-statistics-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.aboutus-section .aboutus-content .aboutus-statistics-item span {
    position: absolute;
    top: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
}
.aboutus-section .aboutus-content .aboutus-statistics-item.first-bar span {
    left: 66%;
}
.aboutus-section .aboutus-content .aboutus-statistics-item.second-bar span {
    left: 76%;
}
.aboutus-section .aboutus-content .aboutus-statistics-item.third-bar span {
    left: 85%;
}
.aboutus-section .aboutus-statistics-item .progress-bar-filled {
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-bottom: -6px;
    position: relative;
    z-index: 2;
}
.aboutus-section .aboutus-statistics-item.first-bar .progress-bar-filled {
    width: 68%;
}
.aboutus-section .aboutus-statistics-item.second-bar .progress-bar-filled {
    width: 78%;
}
.aboutus-section .aboutus-statistics-item.third-bar .progress-bar-filled {
    width: 88%;
}
.aboutus-section .aboutus-statistics-item .progress-bar-full {
    width: 100%;
    height: 6px;
    background-color: #ddd;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;
}
.portfolio-section h2 {
    font-size: 30px;
    color: var(--black);
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-section h2 em {
    color: var(--primary-color);
    font-style:  normal;
}
.portfolio-section h2 span {
    color: var(--secondary-color);
}
.portfolio-section .portfolio-items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.portfolio-section .portfolio-items .portfolio-item {
    transition: all 0.5s;
}
.portfolio-section .portfolio-items .portfolio-item:hover .hidden-content {
    visibility: visible;
    top: 0;
}
.portfolio-section .portfolio-items .portfolio-item:hover .showed-content {
    top: 50px;
}
.portfolio-section .portfolio-items .portfolio-item .hidden-content {

    visibility: hidden;
    position: relative;
    top: 60px;
    padding: 50px;
    background-color: var(--primary-color);
    border-radius: 30px;
    transition: all 0.3s;
}
.portfolio-section .portfolio-items .portfolio-item .hidden-content::after {
    content: '';
    position: absolute;
    border: 15px solid black;
    bottom: -15px;
    left: 50%;
    border-top-color: var(--primary-color);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: transparent;
    
}
.portfolio-section .portfolio-items .portfolio-item .hidden-content h4 {
    text-align: center;
    color: #fff;
    margin-bottom: 8px;
    font-size: 18px;
    letter-spacing: 0.3px;
}
.portfolio-section .portfolio-items .portfolio-item .hidden-content p {
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.portfolio-section .portfolio-items .portfolio-item .showed-content {
    position: relative;
    top: -20px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.contact-us-section {
    padding-top: 180px;
    padding-bottom: 300px;
    background-image: url('images/contact-bg.png');
    background-color: #fff;
    background-size: cover;
}
.contact-us-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.contact-us-section .contact-us-content h2 {
    font-size: 30px;
    color: #fff;
    letter-spacing: 0.25px;
    line-height: 40px;
}
.contact-us-section .contact-us-content p {
    margin: 30px 0px;
    color: #fff;
    font-size: 15px;
}
.contact-us-section .contact-us-content .contact-us-info {
    display: flex;
    gap: 65px;
}
.contact-us-section .contact-us-content .contact-us-info span {
    color: #fff;
}
.contact-us-section .contact-us-content h4 {
    color: #fff;
}
.contact-us-section .contact-us-form form {
    padding: 26px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
}
.contact-us-section .contact-us-form form input {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    background-color: #d1f3ff;
    border-radius: 35px;
    margin-bottom: 20px;
    padding-left: 24px;
}
.contact-us-section .contact-us-form form input.input-name {
    width: 49%;
    margin-right: 5px;
}
.contact-us-section .contact-us-form form input.input-surname {
    width: 49%;
    margin-left: 5px;
}
.contact-us-section .contact-us-form form textarea {
    width: 100%;
    height:200px;
    border: none;
    outline: none;
    background-color: #d1f3ff;
    border-radius: 35px;
    margin-bottom: 20px;
    padding-left: 24px;
    padding-top: 15px;
}
.contact-us-section .contact-us-form form input::placeholder,
.contact-us-section .contact-us-form form textarea::placeholder {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.contact-us-section .contact-us-form form button {
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s;
}
.contact-us-section .contact-us-form form button:hover {
    background-color: var(--primary-color);
}

footer {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #fff;
}
footer p {
    text-align: center;
    color: var(--black);
}